.flex {
    // blocks
    &-row {
        display: flex;
        flex-direction: row;
    }

    &-column {
        display: flex;
        flex-direction: column;
    }

    // modificators
    &--jc-sb {
        justify-content: space-between;
    }

    &--jc-c {
        justify-content: center;
    }

    &--ai-c {
        align-items: center;
    }
}

// columns
.col {
    &--flex-1 {
        flex: 1;
    }

    &--50-prc {
        width: 50%;
    }
}