@import "./components.css";
@import "./flex.css";
@import "./typography.css";

:root {
    // sizes

    // spaces

    // colors for text
    --color-text-dark: rgb(46, 46, 46);
    --color-text-dark-light: rgb(122, 122, 122);
    --color-text-light: #FFF;

    // colors for background
    --color-bg-theme: #909CF2;
    --color-bg-theme-light: #E8E9F9;
    --color-bg-white: #fff;
}

* {
    box-sizing: border-box;
}

h1, 
h2,
h3,
ul,
p,
body {
    margin: 0;
    padding: 0;
}

button {
    border: 0;
    outline: 0;
}